---
// const {  } = Astro.props;
---

<div class="mockup-browser border bg-base-200 left-5" style="width: 500px; height: 500px;">
    <div class="absolute top-0 left-0 p-2 bg-base-200  text-2xl">Table Details</div>
    
</div>