---
interface Props {
  label: string;
  options: string[] | null;
}

const { label, options } = Astro.props as Props;
---

<Fragment>
  <p>{label}</p>
  {
    options && (
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        {options.map((option) => (
          <div class="form-control flex items-start">
            <label class="label cursor-pointer">
              <span class="label-text">{option}</span>
              <input type="checkbox" class="toggle ms-3" />
            </label>
          </div>
        ))}
      </div>
    )
  }
  <Fragment>
    {!options?.length && <p class="text-slate-400">Sin opciones disponibles</p>}
  </Fragment>
</Fragment>
