---
interface Props {
  label: string;
  helpText: string;
}

const { label, helpText }: Props = Astro.props;
---

<div class="my-3">
  <div class="label">
    <span class="label-text">{label}</span>
  </div>
  <input
    class="block w-full text-md text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
    type="file"
  />
  <div class="label">
    <span class="label-text-alt text-md text-slate-500">
      {helpText}
    </span>
  </div>
</div>
