---
interface Option {
  name: string;
  value: string;
}

interface Props {
  name: string;
  label: string;
  options: Option[] | null;
}

const { name, label, options } = Astro.props;
---

<Fragment>
  <p>{label}</p>
  {
    options && (
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        {options.map((option) => (
          <div class="form-control mb-3">
            <label class="label cursor-pointer">
              <span class="label-text">{option.name}</span>
              <input
                type="radio"
                name={name}
                value={option.value}
                class="radio checked:bg-blue-500"
              />
            </label>
          </div>
        ))}
      </div>
    )
  }
  <Fragment>
    {!options?.length && <p class="text-slate-400">Sin opciones disponibles</p>}
  </Fragment>
</Fragment>
