---
interface Props {
  id: string;
}

const { id } = Astro.props as Props;
---

<dialog id={id} class="modal modal-bottom sm:modal-middle">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Respaldar Base de Datos</h3>
    <div class="modal-action w-full mt-0">
      <button
        type="button"
        onclick=`${id}.close()`
        class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
      >
        ✕ <!-- Close icon -->
      </button>
      <div class="flex flex-col w-full">
        <!-- Progress -->
        <div class="flex my-10 justify-center items-center gap-2">
          <p class="text-sm">Respaldando base de datos</p>
          <span class="loading loading-dots loading-md"></span>
        </div>
        <div class="ms-auto">
          <button type="button" onclick=`${id}.close()` class="btn btn-accent">
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</dialog>
