---
import "../pages/_index.css";

import Aside from "./components/Aside.astro";
import Section from "./components/Section.astro";
import ChangeDB from "./ui/ChangeDB.astro";

const { pageName } = Astro.props;
---

<main class="grid grid-cols-12 min-h-svh">
  <Aside pageName={pageName} />
  <Section />
</main>
