---
import "../pages/_index.css";

import Aside from "./components/Aside/Index.astro";
import Section from "./components/Section.astro";

const { pageName } = Astro.props;
---

<main class="flex min-h-svh">
  <Aside pageName={pageName} />
  <Section />
</main>
